name = "mypace-api"
main = "src/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

routes = [
  { pattern = "api.mypace.llll-ll.com", custom_domain = true }
]

[[d1_databases]]
binding = "DB"
database_name = "mypace-db"
database_id = "3aa18b16-681c-467c-980e-9e2fa9b966d4"

[vars]
DISABLE_CACHE = "0"  # OGPキャッシュ有効
RELAY_COUNT = "2"  # publish用リレー接続数
